.form-add-team{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

label{
    margin-top:0.5rem;
}

input{
    margin-bottom: 0.5rem;
    min-width: 30vw;
}
